<fieldset class="session-options">
  <legend>Session options</legend>
  <label class="check-label">
    <input type="checkbox" name="show_chinese" {% if show_chinese_default|default(true) %}checked{% endif %}>
    Show Chinese
  </label>
  <label class="check-label">
    <input type="checkbox" name="show_definition" {% if show_definition_default|default(false) %}checked{% endif %}>
    English definition
  </label>
  <label class="check-label">
    <input type="checkbox" name="auto_audio" {% if auto_audio_default|default(true) %}checked{% endif %}>
    Auto audio
  </label>
  <label class="check-label">
    <input type="checkbox" name="show_phonetic" {% if show_phonetic_default|default(true) %}checked{% endif %}>
    Phonetic
  </label>
  {% if include_cloze|default(false) %}
    <label class="check-label">
      <input type="checkbox" name="use_cloze" data-cloze-with>
      With cloze
    </label>
    <label class="check-label">
      <input type="checkbox" name="only_cloze" data-cloze-only>
      Only in cloze
    </label>
  {% endif %}
</fieldset>
